[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx vite preview --host 0.0.0.0 --port $PORT"

[variables]
NODE_ENV = "production"
