[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx serve -s dist -l tcp://0.0.0.0:$PORT"

[variables]
NODE_ENV = "production"
